Options -Indexes
RewriteEngine On

# Hilangkan ekstensi .php dari URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

# Arahkan halaman error ke halaman custom Ella
ErrorDocument 404 /SAINTARA/pages/404.php